node_modules/
dist/
.DS_Store
.env
.vercel/

*.pdf
*.docx
*.py
__pycache__/

STO_Valuation/
energyefficiency/
environmentgrade/
gseed/
kakaomap/
naverad/
policynews/
sometrend/
twitter/
youtube/
멘토링일지/
제출물/
중간/
참고문헌/
